#config-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  touch-action: none;
  width: 60px;
  height: 60px;
  background: grey;
  border-radius: 10px;
  text-align: center;
}

#edit-modal {
  position: absolute;
  left: 60px;
  top: 60px;
  width: calc(100% - 120px);
  height: calc(100% - 120px);
  background: green;
  border-radius: calc(20px + 1%);
}

#modal-content {
  position: absolute;
  left: calc(20px + 1%);
  top: calc(20px + 1%);
  width: calc(98% - 40px);
  height: calc(98% - 40px);
}

#selector-parent {
  overflow: auto;
  float: left;
  height: 100%;
  width: 40%;
}

#selector-table {
  border-collapse: collapse;
  width: 100%;
}

.selector {
  border: 2px solid white;
  height: 100px;
  text-align: center;
}

.active {
  background: white;
}

#config-content {
  width: calc(60% - 6px);
  height: calc(100% - 4px);
  border: 2px solid red;
  margin-left: 2px;
  float: right;
}

#container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}

#container * {
  pointer-events: auto;
}